.logo {
    align-items: center;
    display: flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

/*.register {*/
    /*float: right !important;*/
/*}*/


.ant-carousel .slick-slide {
    text-align: center;
    height: 260px;
    line-height: 260px;
    background: #364d79;
    overflow: hidden;
}

.container {
    padding: 10px;
}
.leftContainer {
    width: 400px;
    float: left;
}
.footer {
    text-align: center;
}